Repository SOPT-Joint-Seminar-Twitter/Twitter-iOS, pull requests merged in 2022-05, with the labels that each got.

#3 [SETTING] 프로젝트 세팅 및 폴더링
  Twitter-iOS/Twitter-iOS.xcodeproj/project.pbxproj
  Twitter-iOS/Twitter-iOS.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  Twitter-iOS/Twitter-iOS.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  Twitter-iOS/Twitter-iOS.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/AccentColor.colorset/Contents.json
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/AppIcon.appiconset/Contents.json
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/Contents.json
  Twitter-iOS/Twitter-iOS/Global/Resource/Base.lproj/LaunchScreen.storyboard
  Twitter-iOS/Twitter-iOS/Global/Resource/Base.lproj/Main.storyboard
  Twitter-iOS/Twitter-iOS/Global/Supports/AppDelegate.swift
  Twitter-iOS/Twitter-iOS/Global/Supports/Info.plist
  Twitter-iOS/Twitter-iOS/Global/Supports/SceneDelegate.swift
  Twitter-iOS/Twitter-iOS/Screens/Profile/Minjae/ViewController/MinJaeProfileViewController.swift
  Twitter-iOS/Twitter-iOS/Screens/Profile/Suyeon/ViewController/SuYeonProfileViewController.swift
  Twitter-iOS/Twitter-iOS/Screens/Profile/Yujin/ViewController/YuJinProfileViewController.swift
  Twitter-iOS/Twitter-iOS/Screens/Writing/Suyeon/ViewController/SuYeonWritingViewController.swift
Labels: Setting ⚙️, SuYeon 👀

#12 [FEAT] TabBar생성
  Twitter-iOS/Twitter-iOS.xcodeproj/project.pbxproj
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/icconRetweetGray.imageset/Contents.json
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconActivity.imageset/Contents.json
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconBell.imageset/Contents.json
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconCamera.imageset/Contents.json
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconChart.imageset/Contents.json
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconCircle.imageset/Contents.json
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconComment.imageset/Contents.json
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconEarth.imageset/Contents.json
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconGif.imageset/Contents.json
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconHeart.imageset/Contents.json
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconHome.imageset/Contents.json
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconImage.imageset/Contents.json
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconLocation.imageset/Contents.json
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconMessage.imageset/Contents.json
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconPlus.imageset/Contents.json
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconRetweetBlack.imageset/Contents.json
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconRetweetGreen.imageset/Contents.json
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconSearch.imageset/Contents.json
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconShare.imageset/Contents.json
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconSound.imageset/Contents.json
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/icondate.imageset/Contents.json
  Twitter-iOS/Twitter-iOS/Global/Supports/Info.plist
  Twitter-iOS/Twitter-iOS/Screens/Profile/Minjae/StoryBoard/Minjae.storyboard
  Twitter-iOS/Twitter-iOS/Screens/Profile/Suyeon/Suyeon.storyboard
  Twitter-iOS/Twitter-iOS/Screens/Profile/Yujin/StoryBoard/Yujin.storyboard
  Twitter-iOS/Twitter-iOS/Screens/TabBar/Alarm.storyboard
  Twitter-iOS/Twitter-iOS/Screens/TabBar/TabBar.storyboard
Labels: Feat ✨, Yujin 🌀

#16 [FEAT] Custom TabBar 구현
  Twitter-iOS/Twitter-iOS.xcodeproj/project.pbxproj
  Twitter-iOS/Twitter-iOS.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Twitter-iOS/Twitter-iOS/Global/Extension/UIView+Extension.swift
  Twitter-iOS/Twitter-iOS/Screens/Profile/Yujin/StoryBoard/Yujin.storyboard
  Twitter-iOS/Twitter-iOS/Screens/Profile/Yujin/ViewController/FirstTabViewController.swift
  Twitter-iOS/Twitter-iOS/Screens/Profile/Yujin/ViewController/FourthTabViewController.swift
  Twitter-iOS/Twitter-iOS/Screens/Profile/Yujin/ViewController/SecondTabViewController.swift
  Twitter-iOS/Twitter-iOS/Screens/Profile/Yujin/ViewController/TabManViewController.swift
  Twitter-iOS/Twitter-iOS/Screens/Profile/Yujin/ViewController/ThirdTabViewController.swift
  Twitter-iOS/Twitter-iOS/Screens/Profile/Yujin/ViewController/YuJinProfileViewController.swift
  Twitter-iOS/Twitter-iOS/Screens/TabBar/TabBar.storyboard
Labels: Feat ✨, Yujin 🌀

#19 [FEAT] 프로필 화면 UI 및 레이아웃 구현
  Twitter-iOS/Twitter-iOS.xcodeproj/project.pbxproj
  Twitter-iOS/Twitter-iOS/Global/Extension/UIButton+Extension.swift
  Twitter-iOS/Twitter-iOS/Global/Extension/UIViewController+Extension.swift
  Twitter-iOS/Twitter-iOS/Global/Literal/ImageLiteral.swift
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/AccentColor.colorset/Contents 2.json
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/AppIcon.appiconset/Contents 2.json
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconActivity.imageset/Contents 2.json
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconCamera.imageset/Contents 2.json
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconChart.imageset/Contents 2.json
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconCircle.imageset/Contents 2.json
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconMoreButton.imageset/Contents.json
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconMoreButton.imageset/iconMoreButton.png
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconRetweetGreen.imageset/Contents 2.json
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconShareButton.imageset/Contents.json
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconShareButton.imageset/iconShareButton.png
  Twitter-iOS/Twitter-iOS/Global/Resource/Base.lproj/LaunchScreen 2.storyboard
  Twitter-iOS/Twitter-iOS/Global/Resource/Colors.xcassets/twitter_gray50.colorset/Contents 2.json
  Twitter-iOS/Twitter-iOS/Screens/Profile/Minjae/Network/Model/TweetModel.swift
  Twitter-iOS/Twitter-iOS/Screens/Profile/Minjae/StoryBoard/Minjae.storyboard
  Twitter-iOS/Twitter-iOS/Screens/Profile/Minjae/StoryBoard/Profile.storyboard
  Twitter-iOS/Twitter-iOS/Screens/Profile/Minjae/StoryBoard/Tweet.storyboard
  Twitter-iOS/Twitter-iOS/Screens/Profile/Minjae/StoryBoard/TweetTableViewCell.swift
  Twitter-iOS/Twitter-iOS/Screens/Profile/Minjae/ViewController/FavoriteViewController.swift
  Twitter-iOS/Twitter-iOS/Screens/Profile/Minjae/ViewController/MediaViewController.swift
  Twitter-iOS/Twitter-iOS/Screens/Profile/Minjae/ViewController/MinJaeProfileViewController.swift
  Twitter-iOS/Twitter-iOS/Screens/Profile/Minjae/ViewController/ProfileViewController.swift
  Twitter-iOS/Twitter-iOS/Screens/Profile/Minjae/ViewController/TweetAndReplyViewController.swift
  Twitter-iOS/Twitter-iOS/Screens/Profile/Minjae/ViewController/TweetViewController.swift
  Twitter-iOS/Twitter-iOS/Screens/Profile/Minjae/Xib/TweetTableViewCell.xib
  Twitter-iOS/Twitter-iOS/Screens/TabBar/TabBar.storyboard
Labels: Feat ✨, Minjae 🔥

#15 [FEAT] 트윗작성뷰 키보드부분 UI 및 레이아웃 구현
  Twitter-iOS/Twitter-iOS.xcodeproj/project.pbxproj
  Twitter-iOS/Twitter-iOS/Global/Extension/Adjusted+Extension.swift
  Twitter-iOS/Twitter-iOS/Global/Extension/UIStackView+Extension.swift
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconCamera.imageset/Camera.png
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconCamera.imageset/Camera@2x.png
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconCamera.imageset/Camera@3x.png
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconCamera.imageset/Contents.json
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconCamera.imageset/iosIcCamera.png
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconCamera.imageset/iosIcCamera@2x.png
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconCamera.imageset/iosIcCamera@3x.png
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconCircle.imageset/Contents.json
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconCircle.imageset/ic_keyboard_tap=circle.png
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconCircle.imageset/ic_keyboard_tap=circle@2x.png
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconCircle.imageset/ic_keyboard_tap=circle@3x.png
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconCircle.imageset/ic_tick.png
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconCircle.imageset/ic_tick@2x.png
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconCircle.imageset/ic_tick@3x.png
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconPlus.imageset/Contents.json
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconPlus.imageset/ic_add_button.png
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconPlus.imageset/ic_add_button@2x.png
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconPlus.imageset/ic_add_button@3x.png
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconPlus.imageset/ic_keyboard_tap=Frame 54.png
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconPlus.imageset/ic_keyboard_tap=Frame 54@2x.png
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconPlus.imageset/ic_keyboard_tap=Frame 54@3x.png
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconSound.imageset/Contents.json
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconSound.imageset/Group 33667.png
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconSound.imageset/Group 33667@2x.png
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconSound.imageset/Group 33667@3x.png
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconSound.imageset/iosIcSound.png
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconSound.imageset/iosIcSound@2x.png
  Twitter-iOS/Twitter-iOS/Global/Resource/Assets.xcassets/iconSound.imageset/iosIcSound@3x.png
  Twitter-iOS/Twitter-iOS/Screens/Writing/Suyeon/Cell/IconCollectionViewCell.swift
  Twitter-iOS/Twitter-iOS/Screens/Writing/Suyeon/Cell/ImageCollectionViewCell.swift
  Twitter-iOS/Twitter-iOS/Screens/Writing/Suyeon/Component/AlbumCollectionView.swift
  Twitter-iOS/Twitter-iOS/Screens/Writing/Suyeon/Component/CommentPermissionView.swift
  Twitter-iOS/Twitter-iOS/Screens/Writing/Suyeon/Component/WritingToolBar.swift
  Twitter-iOS/Twitter-iOS/Screens/Writing/Suyeon/Model/MyPhoto.swift
  Twitter-iOS/Twitter-iOS/Screens/Writing/Suyeon/ViewController/SuYeonWritingViewController.swift
  Twitter-iOS/Twitter-iOS/Screens/Writing/Suyeon/ViewController/WritingViewController+Extesion.swift
Labels: Feat ✨, SuYeon 👀

#27 [FEAT] 트윗 작성 뷰 화면전환 구현
  Twitter-iOS/Twitter-iOS/Screens/Writing/Suyeon/ViewController/SuYeonWritingViewController.swift
Labels: Feat ✨, SuYeon 👀

#29 [CHORE] 화면전환 ui 오류 수정
  Twitter-iOS/Twitter-iOS/Screens/Writing/Suyeon/ViewController/SuYeonWritingViewController.swift
Labels: SuYeon 👀, Chore 🍰

#24 [FEAT] 네트워크 파일 세팅
  Twitter-iOS/Twitter-iOS.xcodeproj/project.pbxproj
  Twitter-iOS/Twitter-iOS/APIEnvironment.swift
  Twitter-iOS/Twitter-iOS/Auth.swift
  Twitter-iOS/Twitter-iOS/AuthRouter.swift
  Twitter-iOS/Twitter-iOS/AuthService.swift
  Twitter-iOS/Twitter-iOS/BaseRouter.swift
  Twitter-iOS/Twitter-iOS/BaseService.swift
  Twitter-iOS/Twitter-iOS/EventLogger.swift
  Twitter-iOS/Twitter-iOS/GeneralResponse.swift
  Twitter-iOS/Twitter-iOS/NetworkConstants.swift
  Twitter-iOS/Twitter-iOS/NetworkResult.swift
Labels: Feat ✨, SuYeon 👀

#31 [FEAT] 트윗 작성하기 API 연결
  Twitter-iOS/Twitter-iOS.xcodeproj/project.pbxproj
  Twitter-iOS/Twitter-iOS/APIEnvironment.swift
  Twitter-iOS/Twitter-iOS/BaseRouter.swift
  Twitter-iOS/Twitter-iOS/NetworkConstants.swift
  Twitter-iOS/Twitter-iOS/Screens/Writing/Suyeon/ViewController/SuYeonWritingViewController.swift
  Twitter-iOS/Twitter-iOS/TwitPostRouter.swift
  Twitter-iOS/Twitter-iOS/TwitPostService.swift
  Twitter-iOS/Twitter-iOS/Writer.swift
Labels: Feat ✨, SuYeon 👀
